<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite3">
  <test thread-count="5" name="Test">
  <groups>
  
  <run>
 <exclude name="payment"></exclude>
  
  </run>
  
  </groups>
    <classes>
      <class name="testNG2.Sample5"/>
     <class name="testNG2.Sample4"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite3 -->
